/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

section {
    margin-bottom: 4rem;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
}

h3, p, a {
    font-family: 'Roboto Slab', serif;
}

.page-title {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 2px;
    margin-bottom: 50px;
}

.section-header {
    padding-bottom: 30px;
}

li {
    list-style: none;
}

.collaborators>a {
    color: #0078B2; /* LinkedIn Brand Color */ 
}
/* Jumbotron
  -------------------------------------------------- */

  .jumbotron {
    background-size: 100%;
    background-blend-mode: overlay;
  }

  .jumbotron-major {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  .jumbotron-minor {
    background-color: rgba(0, 0, 0, 0.33);
  }

  .hero {
    background-image: url(images/hero-image.jpg);
    
  }

  .quote {
    background-image: url(images/quote-image.jpg);
  }

  .design {
    background-image: url(images/design.jpg);
  }

  .development {
    background-image: url(images/development.jpg);
  }

  .market {
    background-image: url(images/marketing.jpg);
  }

  .future {
    background-image: url(images/future.jpg);
  }
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-caption>h3 {
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 2px;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 500px;
    background-color: #000000;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0.7;

  }

  @media (min-width: 768px) {
    .carousel-item > img {
        top: -160px;
    }
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h3 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .app-feature {
      width: 300px;
      height: 200px;
  }

  .marketing-header {
      padding: 20px 0px;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  .user-task {
      margin: 2rem 0px 2rem 0px;
  }
  
  /* Development Section
  -------------------------------------------------- */

  .development-logo {
      width: 100%;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

